.logo{
  width: 25%;
  height: 25%;
}
.Cor-logo{
  background-color: #3a3a3a;
}
.produtos{
  padding: 40px;
  
}
#preço{
  color: orangered;
}
h1{
  color: lightblue;
}
h2{
  color: lightblue;
}
html{
  background-color: #1a1a1a;
}
#titulo{
  text-align: center;
}
.logo{
  margin-left: 37%;
}
#tema{
  text-align: center;
}
#RX550{
  margin-right: 60%;
}