.logo{
  width: 25%;
  height: 25%;
}
.Cor-logo{
  background-color: #3a3a3a;
}
.produtos{
  padding: 40px;
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .produto-item {
    text-align: center;
  }
  .produto-item img {
    width: 100%;
    max-width: 300px;
}
#preço{
  color: orangered;
}
h1{
  color: lightblue;
}
h2{
  color: lightblue;
}
html{
  background-color: #1a1a1a;
}
#titulo{
  text-align: center;
  font-size: 38px;
}
.logo{
  margin-left: 37%;
}
#tema{
  text-align: center;
}
#RX550{
  margin-right: 60%;
}
#titulo-produtos{
  text-align: center;
  margin-top: 200px;
}
.Paginas{
  font-size: 28px;
}
.Paginas{
  background-color: #3a3a3a;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 9rem;
  margin: 1rem 0;
}
